<div class="row" *ngFor="let note of service.Mynotes">
    <div class="col-md-6">
        <div *ngIf="note.CreatedBy == service.curUser.user.id">
            <h6>You ({{note.createdAt | amCalendar}})</h6>
            <div class="alert alert-info" role="alert">
                <h4> {{note.NoteBody}}</h4>
            </div>

            <button type="button" class="btn btn-xs btn-danger" (click)="deleteNote(note.id)">Delete</button>
            <hr>
        </div>

    </div>

    <div class="col-md-6">
        <div *ngIf="note.CreatedBy != service.curUser.user.id">
            <div *ngIf="service.Myusers">
                <div *ngFor="let user of service.Myusers">
                    <div *ngIf="user.id == note.CreatedBy">
                        <h6> <strong>{{user.FirstName}} {{user.LastName}}</strong>
                            <b>{{user.createdAt | amCalendar}}</b></h6>
                    </div>

                </div>
            </div>

            <div class="alert alert-warning" role="alert">
                <div>
                    <h4> {{note.NoteBody}} </h4>
                </div>
            </div>
            <button type="button" class="btn btn-xs btn-danger" (click)="deleteNote(note.id)">Delete</button>
            <hr>
        </div>
    </div>

</div>